


<h3> Hi <%= @user.name.capitalize %>, </h3>

<p>

Thank you for registering with Respira! <br><br>

Respira is a wearable breathing, heart-rate and speech monitoring device to help people who stutter gain fluency. <br><br>

Fluent speakers find hard to deeply understand what a person who stutter suffers each time that a speaking situation approaches. That's why we created Respira, to help people to gain confidence, fluency and live a better life. <br><br>

More than 70 million (adult) people worldwide stutter, which is about 1% of the population. Our mission is to make this 1% to live a better life. <br><br>

Please don't hesitate to ask anything by replying to this email. We would like also to hear from people interested to get involved in the project (whatever your background) and/or willing to try our first prototypes. <br><br>

Many thanks to join us! <br><br>

<em> The Respira Team
(Marcos, Jordi, Rowan, Dimitri and James)
</em>




</p>

<%#= link_to "http://respira.io/", class: "navbar-wagon-brand" do %>
     <%#= cl_image_tag("respira/green.png", :client_hints=>true, :transformation=>[{:width=>50, :height=>50, :dpr=>"auto"}]) %>
<%# end %>



