     <div id="demo"> </div>

      <!-- section start -->
      <!-- ================ -->
      <section class="section clearfix">
        <div class="container">

          <div class="separator-2"></div>
          <div class="row">
            <div class="col-md-6">
              <!-- accordion start -->
              <!-- ================ -->
              <div class="panel-group collapse-style-1" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed">
                        <i class="fa fa-question-circle-o pr-10"></i>What is Respira?
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">

                      Respira is a wearable breathing, heart-rate and speech monitoring device to help people who stutter gain fluency. <br><br>

                      Respira provides real-time feedback on the user’s breathing and speaking patterns to reinforce behaviours which reduce the probability of stuttering. Performance history is recorded so the users can track their habits and fluency improvement. In addition, anonymous information will be collected on a discretionary basis, to enable a broader statistical research on stuttering and its causes.In addition, we want to collect anonymous information on the evolution of the user’s physiological state, to perform broader statistical research on stuttering and increase our understanding of the reasons for which people stutter.


                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                        <i class="fa fa-road pr-10"></i>Background
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                      Although there are no theories which fully explain the reasons behind chronic stuttering, there are many demostrated psychological and cognitive practices that have been shown to  help people who stutter (PWS) gain fluency. These practices are taught in worldwide recognised courses for PWS such as <a href="http://themcguireprogram.com">The McGuire Program</a>, and include (but are not limited to) breathing with the diaphragm, limiting the words spoken per breath (between 3 and 5), and acceptance of oneself as a PWS. Our prototype, Respira, helps PWS to acquire and consolidate all of these habits using a single wearable device. Respira conducts physiological measurements and performs analysis in real time, allowing it to gently coach the user, and help she/he to develop positive habits.

                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                        <i class="fa fa-rocket pr-10"></i>Innovation
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                      With the rise of the IoT and wearable technologies, we are not only able to create breathing and speaking habits, but can also record and analyse the physiological data and speaking tempo of PWS. This provides valuable real-time information for the user to improve their fluency and the scope for fundamental health science (in order to understand and control the mechanisms of chronic stuttering).

                       <br><br>

                      Respira is the first hardware product of its kind. Its main innovation resides in integrating the latest research on stuttering into an affordable device
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed">
                        <i class="fa fa-area-chart pr-10"></i>Real-time

                      </a>
                    </h4>
                  </div>
                  <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                      Speaking at the right speed and breathing correctly are practices that have to be reinforced at all times until they become habits. Unfortunately, this requires considerable discipline since people who stutter learn to speak by many years of bad practice. The real-time feedback is critical to acquire this new breathing and pausing habits.





                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" class="collapsed">
                        <i class="fa fa-child pr-10"></i>Wearability

                      </a>
                    </h4>
                  </div>
                  <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                      People who stutter do not stutter always, and therefore they tend to use those new techniques only in difficult speaking situations, outside of their comfort zone, However, these techniques are ineffective if only used when fear is high. This is exactly why it is important to wear the device (in a comfortable manner) always, even in situations which are not critical.




                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" class="collapsed">
                        <i class="fa fa-bullseye pr-10"></i>Our goal


                      </a>
                    </h4>
                  </div>
                  <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">
                      Our goal is to ensure that the person who stutters always speaks with enough air in their lungs, and currently the easiest way to achieve this is by controlling the pauses between words or regulating the words spoken per minute. People who stutter tend to rush and forget to breathe when speaking, which leads to more stuttering. We are interested in reminding the user to pause, as they need to re-learn to speak more slowly. Eventually, we would monitor and match each breathing and speaking cycle, ensuring that the words are spoken with enough air and the pauses are adequate (in non-fear situations).



                    </div>
                  </div>
                </div>
              </div>
              <!-- accordion end -->
            </div>
            <div class="col-md-6 space-bottom">

              <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://player.vimeo.com/video/191140085" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <p><a href="https://vimeo.com/191140085">Respira Prototype</a> from <a href="https://vimeo.com/user46527374">Respira</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

              </div>
            </div>
          </div>
          </div>

          <!-- section start -->
          <!-- ================ -->
          <section class="section dark-bg clearfix">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="call-to-action text-center">
                    <div class="row">
                      <div class="col-sm-8">
                        <h1 class="title">Take control of your breathing and speaking habits</h1>
                        <p></p>
                      </div>
                      <div class="col-sm-4">
                        <br>
                        <p><a href="#footer" class="btn btn-lg btn-default btn-animated">Subscribe<i class="fa fa-arrow-right pl-20"></i></a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- section end -->






