<div id="features"> </div>



<section class="pv-30 padding-bottom-clear clearfix">

          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center"> <strong>Pause, Breathe, Speak, Repeat.</strong></h2>
                <div class="separator"></div>
                <p class="large text-center">Track and change in real time your speaking and breathing habits.</p>
              </div>
            </div>
          </div>
          <div class="container">




              <div class="row">
                <div class="col-sm-4">
                  <div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
                    <div class="overlay-container">
                      <img src="http://res.cloudinary.com/georgestam/image/upload/v1483551805/respira/wearable.png" alt="">
                      <div class="overlay-to-top">
                        <p class="small margin-clear"><em> Respira is a virtual coach which is with you 24/7 </em>  </p>
                      </div>
                    </div>
                    <div class="body">
                      <h3>Wearable</h3>
                      <div class="separator"></div>
                      <p>Comfortable belt located in the chest that tracks you breathing and speaking habits during the day, as well as other physiological indicators (hearth rate + voice pitch rate).</p>

                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
                    <div class="overlay-container">
                      <img src="http://res.cloudinary.com/georgestam/image/upload/v1483551810/respira/time_graph.jpg" alt="">
                      <div class="overlay-to-top">
                        <p class="small margin-clear"><em>We ensure that you use appropriate pausing and have enough air in the lungs</em></p>
                      </div>
                    </div>
                    <div class="body">
                      <h3>Real-time feedback</h3>
                      <div class="separator"></div>
                      <p>The belt vibrates whenever users do not use their full diagram to breathe or speak too fast in any situation during the day, so new (correct) habits are built.</p>

                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
                    <div class="overlay-container">
                      <img src="http://res.cloudinary.com/georgestam/image/upload/v1483611131/respira/build.jpg" alt="">
                      <div class="overlay-to-top">
                        <p class="small margin-clear"><em>Your optimum breathing rate should be less than 7 breaths per minute in relaxation</em></p>
                      </div>
                    </div>
                    <div class="body">
                      <h3>Built habits</h3>
                      <div class="separator"></div>
                      <p> Set recommendations targets to build new habits to make the learning experience more comfortable or aggressive depending on preference.</p>

                    </div>
                  </div>
                </div>
              </div>
              <br>

</section>



