<div id="features"> </div>

    <!-- section start -->
          <!-- ================ -->
        <section class="section dark-bg clearfix">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="call-to-action text-center">
                  <div class="row">
                    <div class="col-sm-8">
                      <h1 class="title">Don't Miss Our Updates</h1>
                      <p>Get notified when it's released!</p>
                    </div>
                    <div class="col-sm-4">
                      <br>
                      <p><a href="#footer" class="btn btn-lg btn-default btn-animated">Subscribe<i class="fa fa-arrow-right pl-20"></i></a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- section end -->



<section class="pv-30 padding-bottom-clear clearfix">

          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center"> <strong>Pause, Breathe, Speak, Repeat.</strong></h2>
                <div class="separator"></div>
                <p class="large text-center">Track and change in real time your speaking and breathing habits.</p>
              </div>
            </div>
          </div>
          <div class="container">




              <div class="row">
                <div class="col-sm-4">
                  <div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
                    <div class="overlay-container">

                    <%= cl_image_tag("respira/wearable.png", :client_hints=>true, :transformation=>[{:dpr=>"auto"}]) %>

                      <div class="overlay-to-top">
                        <p class="small margin-clear"><em> Respira is a virtual coach which is with you 24/7 </em>  </p>
                      </div>
                    </div>
                    <div class="body">
                      <h3>Wearable</h3>
                      <div class="separator"></div>
                      <p>
                      Comfortable belt around the chest that tracks "your" breathing and speaking habits during the day, as well as other physiological indicators (heart rate + voice pitch).</p>

                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
                    <div class="overlay-container">
                      <%= cl_image_tag("respira/time_graph.jpg", :client_hints=>true, :transformation=>[{:dpr=>"auto"}]) %>

                      <div class="overlay-to-top">
                        <p class="small margin-clear"><em>We ensure that you use appropriate pausing and have enough air in the lungs</em></p>
                      </div>
                    </div>
                    <div class="body">
                      <h3>Real-time feedback</h3>
                      <div class="separator"></div>
                      <p>The belt vibrates whenever users do not use their full diaphragm to breathe, or speak too fast, during the day, so new correct habits are built.</p>

                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
                    <div class="overlay-container">
                      <%= cl_image_tag("respira/build.jpg", :client_hints=>true, :transformation=>[{:dpr=>"auto"}]) %>

                      <div class="overlay-to-top">
                        <p class="small margin-clear"><em> Your optimum breathing rate should be less than 7 breaths per minute in relaxation</em></p>
                      </div>
                    </div>
                    <div class="body">
                      <h3>Build habits</h3>
                      <div class="separator"></div>
                      <p>  Record performance history and set targets to make your learning experience more comfortable or aggressive.</p>

                    </div>
                  </div>
                </div>
              </div>
              <br>

</section>



