<div id="features"> </div>



<section class="pv-30 padding-bottom-clear clearfix">

          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center">More <strong>Services</strong></h2>
                <div class="separator"></div>
                <p class="large text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptas facere vero ex tempora saepe perspiciatis ducimus sequi animi.</p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-4 ">
                <div class="pv-30 ph-20 feature-box light-gray-bg bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                  <span class="icon default-bg circle"><i class="fa fa-diamond"></i></span>
                  <h3>Clean Code &amp; Design</h3>
                  <div class="separator clearfix"></div>
                  <p>Voluptatem ad provident non repudiandae beatae cupiditate amet reiciendis lorem ipsum dolor sit amet, consectetur.</p>
                  <a href="page-services.html">Read More<i class="pl-5 fa fa-angle-double-right"></i></a>
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="pv-30 ph-20 feature-box light-gray-bg bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                  <span class="icon default-bg circle"><i class="fa fa-connectdevelop"></i></span>
                  <h3>Extremely Flexible</h3>
                  <div class="separator clearfix"></div>
                  <p>Iure sequi unde hic. Sapiente quaerat sequi inventore veritatis cumque lorem ipsum dolor sit amet, consectetur.</p>
                  <a href="page-services.html">Read More<i class="pl-5 fa fa-angle-double-right"></i></a>
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="pv-30 ph-20 feature-box light-gray-bg bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                  <span class="icon default-bg circle"><i class="icon-snow"></i></span>
                  <h3>Latest Technologies</h3>
                  <div class="separator clearfix"></div>
                  <p>Inventore dolores aut laboriosam cum consequuntur delectus sequi lorem ipsum dolor sit amet, consectetur.</p>
                  <a href="page-services.html">Read More<i class="pl-5 fa fa-angle-double-right"></i></a>
                </div>
              </div>
            </div>
            <br>
</section>



