<% content_for :title, "Respira" %>

<div id="banner"></div>

<div class="banner" style="background-image: linear-gradient(210deg, rgba(0,101,168,0.1) 20%, rgba(0,36,61,0.3) 50%), url('<%= cl_image_path("respira/banner.jpg", :client_hints=>true, :transformation=>[{:x=>1500, :y=>100, :width=>2000, :height=>1000, :dpr=>"auto", :crop=>"crop"}]) %>');">


    <div class="banner-content">
      <h1 class='logo-font fadeInRightBig animated'>RESPIRA</h1>
      <p class='normal fadeInLeftBig animated'> Virtual coach for people who stutter. <br> It tracks speech and breathing to improve lives. </p>

      <p><a href="#footer" id="btn-black" class="btn btn-lg btn-default btn-animated">Subscribe<i class="fa fa-arrow-right pl-20"></i></a></p>
    </div>



    <div class="col-md-12 text-center banner-arrow ">
      <a href="#features" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a>
      </div>

  </div>
</div>



















