

      <!-- banner start -->
      <!-- ================ -->
      <div id="banner" class="banner clearfix">

        <!-- slideshow start -->
        <!-- ================ -->
        <div class="slideshow">

          <!-- slider revolution start -->
          <!-- ================ -->
          <div class="slider-banner-container">
            <div class="slider-banner-fullscreen">
              <ul class="slides">
                <!-- slide 1 start -->
                <!-- ================ -->
                <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="">

                <!-- main image -->



                <img src="http://res.cloudinary.com/georgestam/image/upload/v1483551807/respira/banner.jpg" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">

                <!-- Transparent Background -->
                <!-- <div class="tp-caption dark-translucent-bg"
                  data-x="center"
                  data-y="bottom"
                  data-speed="500"
                  data-easing="easeOutQuad"
                  data-start="0">
                </div> -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption sfb fadeout text-left xlarge_dark"
                  data-x="left"
                  data-y="200"
                  data-speed="500"
                  data-start="1500"
                  data-easing="easeOutQuad"
                  data-end="10000"><span class="logo-font"> RESPIRA  </span> <br>
                </div>

                <!-- LAYER NR. 2 -->

                 <div class="tp-caption sft fadeout text-left respira_medium_dark "
                  data-x="left"
                  data-y="350"
                  data-speed="500"
                  data-easing="easeInQuad"
                  data-start="2000"
                  data-end="10000"
                  data-endspeed=""> A virtual coach for people who stutter which monitors <br> your speech and breathing in real time and improves lives.
                </div>


                <!-- LAYER NR. 10 -->
                <div class="tp-caption fade fadeout respira_medium_dark"
                  data-x="center"
                  data-y="bottom"
                  data-voffset="100"
                  data-speed="500"
                  data-easing="easeOutQuad"
                  data-start="1000"
                  data-end="10000"
                  data-endspeed="200">
                  <a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a>
                </div>
                </li>
                <!-- slide 1 end -->

                <!-- slide 2 start -->
                <!-- ================ -->
                <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="">

                <!-- main image -->

                <img src="http://res.cloudinary.com/georgestam/image/upload/v1483551810/respira/time_graph.jpg" alt="slidebg2" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">

                <!-- Transparent Background -->
                <!-- <div class="tp-caption dark-translucent-bg"
                  data-x="center"
                  data-y="bottom"
                  data-speed="500"
                  data-easing="easeOutQuad"
                  data-start="0">
                </div> -->



                <!-- LAYER NR. 1 -->

                <div class="tp-caption sfr stl respira_medium_dark"
                  data-x="0"
                  data-y="-50"
                  data-speed="200"
                  data-easing="easeOutQuad"
                  data-start="1000"
                  data-end="10000">We are what we repeatedly do. Excellence, then, <br>  is not an act, but a habit. <br> <p style='font-style: italic;'> Will Durant</p>
                </div>









                </li>
                <!-- slide 2 end -->
              </ul>
              <div class="tp-bannertimer"></div>
            </div>
          </div>
          <!-- slider revolution end -->

        </div>
        <!-- slideshow end -->

      </div>
      <!-- banner end -->

        <!-- section start -->
          <!-- ================ -->
        <section class="section dark-bg clearfix">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="call-to-action text-center">
                  <div class="row">
                    <div class="col-sm-8">
                      <h1 class="title">Don't Miss Out Our Updates</h1>
                      <p>Get notified when it's released!</p>
                    </div>
                    <div class="col-sm-4">
                      <br>
                      <p><a href="#footer" class="btn btn-lg btn-gray-transparent btn-animated">Subscribe<i class="fa fa-arrow-right pl-20"></i></a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- section end -->









