  <div id="team"></div>

      <!-- section -->
      <!-- ================ -->
      <section id="about"  class="main-container">
        <div class="container">
          <!-- <h3 class="title">Our <strong>Team</strong></h3> -->


            <div class="separator-2"></div>
            <div class="row grid-space-10">
              <div class="col-sm-4 col-sm-push-2">
                <div class="team-member image-box style-2 shadow bordered light-gray-bg text-center">
                  <div class="overlay-container overlay-visible">
                    <img img class="team_pic" src="assets/team/marcos.jpg" alt="">
                    <div class="overlay-bottom">
                      <ul class="social-links circle dark margin-clear">

                        <li class="linkedin"><a target="_blank" href="http://uk.linkedin.com/in/juan-marcos-garcía-de-la-cruz-lópez-25b19b89"><i class="fa fa-linkedin"></i></a></li>

                      </ul>
                    </div>
                  </div>
                  <div class="body">
                    <h3 class="margin-clear">Juan Marcos Garcia</h3>
                    <small>Aerospace Engineering (MEng, PhD)</small>
                    <div class="separator mt-10"></div>
                    <p class="small margin-clear">Energetic, analytical & result driven PhD, passionate about technology & science, I enjoy working between development and commercialization.</p>

                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-sm-push-2">
                <div class="team-member image-box style-2 shadow bordered light-gray-bg text-center">
                  <div class="overlay-container overlay-visible">
                    <img img class="team_pic" src="assets/team/lewagon-jordi.jpg" alt="">
                    <div class="overlay-bottom">
                      <ul class="social-links circle dark margin-clear">

                        <li class="linkedin"><a target="_blank" href="http://uk.linkedin.com/in/jordi-fernandez-msc-ceng-bb42ab12"><i class="fa fa-linkedin"></i></a></li>
                        <li class="linkedin"><a target="_blank" href="https://github.com/georgestam"><i class="fa fa-github"></i></a></li>

                      </ul>
                    </div>
                  </div>
                  <div class="body">
                    <h3 class="margin-clear">Jordi Fernandez </h3>
                    <small>Web Developer and Mechanical Engineer (MEng) </small>
                    <div class="separator mt-10"></div>
                    <p class="small margin-clear">Person who sutter since he was 5. In 2011, he joined  <a href="http://www.mcguireprogramme.com/en">The Mcguire Program</a> and his speech has improved ever since.</p>

                  </div>
                </div>


            </div>
          </div>



            <div class="separator-2"></div>
            <div class="row grid-space-10">
              <div class="col-sm-4">
                <div class="team-member image-box style-2 shadow bordered light-gray-bg text-center">
                  <div class="overlay-container overlay-visible">
                    <img img class="team_pic" class="team_pic" src="assets/team/rowan.jpg" alt="">
                    <div class="overlay-bottom">
                      <ul class="social-links circle dark margin-clear">

                        <li class="linkedin"><a target="_blank" href="http://uk.linkedin.com/in/rowan-brackston-87654987"><i class="fa fa-linkedin"></i></a></li>

                      </ul>
                    </div>
                  </div>
                  <div class="body">
                    <h3 class="margin-clear">Rowan Brackston</h3>
                    <small>Aerospace Engineering (MEng, PhD-candidate)</small>
                    <div class="separator mt-10"></div>
                    <p class="small margin-clear">Research and development engineer, passionate about developing technologies that have a positive impact.</p>

                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="team-member image-box style-2 shadow bordered light-gray-bg text-center">
                  <div class="overlay-container overlay-visible">
                    <img class="team_pic" src="assets/team/dimitri.jpg" alt="">
                    <div class="overlay-bottom">
                      <ul class="social-links circle dark margin-clear">

                        <li class="linkedin"><a target="_blank" href="https://be.linkedin.com/in/dimitri-van-immerseel-0920a9130/en"><i class="fa fa-linkedin"></i></a></li>

                      </ul>
                    </div>
                  </div>
                  <div class="body">
                    <h3 class="margin-clear">Dimitri Van Immerseel</h3>
                    <small>App Developer</small>
                    <div class="separator mt-10"></div>
                    <p class="small margin-clear">Android & Java developer. I'd like to make socially relevant software that can improve lives.</p>

                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="team-member image-box style-2 shadow bordered light-gray-bg text-center">
                  <div class="overlay-container overlay-visible">
                    <img img class="team_pic" src="assets/team/james.jpg" alt="">
                    <div class="overlay-bottom">
                      <ul class="social-links circle dark margin-clear">

                        <li class="linkedin"><a target="_blank" href="http://uk.linkedin.com/in/james-bird-5ab301132"><i class="fa fa-linkedin"></i></a></li>

                      </ul>
                    </div>
                  </div>
                  <div class="body">
                    <h3 class="margin-clear">James Bird</h3>
                    <small>Aerospace Engineering (MEng, PhD-candidate)</small>
                    <div class="separator mt-10"></div>
                    <p class="small margin-clear">Research engineer interested in bringing creative ideas and technologies to fruition.</p>

                  </div>
                </div>
              </div>
            </div>


        </div>
        <br>
      </section>
      <!-- section end -->
