<div id="what"> </div>

<!-- section start -->
      <!-- ================ -->
    <section class="section dark-bg clearfix">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="call-to-action text-center">
              <div class="row">
                <div class="col-sm-8">
                  <h1 class="title">Don't Miss Our Updates</h1>
                  <p>Get notified when it's released!</p>
                </div>
                <div class="col-sm-4">
                  <br>
                  <p><a href="#footer" class="btn btn-lg btn-default btn-animated">Subscribe<i class="fa fa-arrow-right pl-20"></i></a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- section end -->





<!-- section -->
			<!-- ================ -->
			<section class="pv-30">
				<div class="container">
					<div class="row">
						<div class="col-md-push-1 text-centre col-md-10">
							<br>
							<div role="tabpanel">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs style-1" role="tablist">
									<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i class="icon-question pr-10"></i>What</a></li>
									<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Why</a></li>
								</ul>

								<!-- Tab panes -->
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane fade in active" id="home">
										<div class="overlay-container overlay-visible">
									    <iframe width="853" height="480"  src="https://www.youtube.com/embed/hP14wP09hN8" frameborder="0" allowfullscreen></iframe>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane fade" id="messages">
                    <p> <strong> Why do we need your help! </strong> 
                    <p>
                      More than 70 million people stutter worldwide, about 1% of the population. Our mission is to enable this 1% to live a better life.
                      <br>
                      <br>
                      We are launching a 30-days pre-crowdfunding-charity campaign on the 13th April 2017. This will give us additional funding to run the project and validate our proof of concept further. 
                      <br>
                      <br>
                      We would need to develop several prototypes to improve the performance, as well as to decrease considerably its overall size.
                      <br>
                      <br>
                      70% of project expenses would cover labour costs and 30% would go towards office space, raw manufacturing materials and other professional consultancy fees. The funding would allow some team members to work full time in the development of our existing prototype for a year. Then we would have a final version of our working prototype and a reliable go-to-market plan. 
                    </p>
                  </div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br>
			</section>
			<!-- section end -->

<!-- section -->
<!-- ================ -->



</section>



