<div id="what"> </div>

<!-- section start -->
      <!-- ================ -->
    <section class="section dark-bg clearfix">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="call-to-action text-center">
              <div class="row">
                <div class="col-sm-8">
                  <h1 class="title">Don't Miss Our Updates</h1>
                  <p>Get notified when it's released!</p>
                </div>
                <div class="col-sm-4">
                  <br>
                  <p><a href="#footer" class="btn btn-lg btn-default btn-animated">Subscribe<i class="fa fa-arrow-right pl-20"></i></a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- section end -->





<!-- section -->
			<!-- ================ -->
			<section class="pv-30">
				<div class="container">
					<div class="row">
            <div class="col-xs-12 col-md-4 thunderclap">
                <iframe frameborder='0' height='540px' src='https://www.thunderclap.it/projects/54974-pause-breathe-speak-repeat/embed' width='250px'></iframe>
            </div>
						<div class="text-centre col-xs-12 col-md-8">
							<br>
							<div role="tabpanel">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs style-1" role="tablist">
									<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i class="icon-question pr-10"></i>What</a></li>
									<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Why</a></li>
								</ul>

								<!-- Tab panes -->
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane fade in active" id="home">
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe width="750" height="425" src="https://www.youtube.com/embed/UodA9XdKQkE" frameborder="0" allowfullscreen></iframe>
                    </div>
									</div>
									<div role="tabpanel" class="tab-pane fade smooth-scroll" id="messages">
                    <p> <strong> Why do we need your help? </strong> 
                    <p>
                    More than 70 million people stutter worldwide, about 1% of the population. Our mission is to enable this 1% to live a better life.
                    <br>
                    <br>
                    Although we built the first prototype but we would need to develop several prototypes to improve the performance, as well as to decrease its overall size considerably (final size to be 10% of the existing prototype). 
                    <br>
                    <br>
                    We are a team of 3 scientists and 2 engineers, and we would need funding to keep working in R&D on the development of our existing prototype for a year, in order to have a final product completely tested. 
                    <br>
                    <br>
                    For this purpose, we are launching a 30-days pre-crowdfunding-charity campaign. This will give us funding to develop several prototypes to improve the performance, as well as to decrease its overall size considerably (final size will be 10% of the prototype size).
                    <br>
                    <br>
                    100% of the funding will go towards labour costs, raw manufacturing materials and other professional consultancy fees.  
                    <br>
                    <br>
                    We believe that new technologies should be used it to help people, and we would need your support to bring this project to life.
                    <br>
                    <br>
                    We would need your help by <a href="#footer">subscribing</a>, and <a href="https://www.thunderclap.it/projects/54974-pause-breathe-speak-repeat?locale=en">sharing our project</a>, as well as supporting our crowdfunding campaign (cooming soon in April 2017). It would demonstrate to the world that PWS has a voice and this project is with pursuing!
                    <br>
                    <br>
                    (You can see <a href="https://www.youtube.com/watch?v=pq1qqdxZWbc&list=PLJj-2-ZfLCt8_d1_vyt_g6mWAmKnoVwyt">here</a> some life-changing results of PWS who attended to courses that teach the techniques integrated into Respira)  
                    </p>
                  </div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br>
			</section>
			<!-- section end -->

<!-- section -->
<!-- ================ -->



</section>



