

 <!-- scrollToTop -->
<!-- ================ -->
<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>


<%= render 'home' %>
<%= render 'features' %>
<%#= render 'demo' %>
<%= render 'team' %>
<%= render 'timeline' %>

</div>
